automation/workflows/moore-money-core.json
{
  "name": "MOORE MONEY CORE",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}},
      "id": "Cron_1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/run-cycle",
        "sendBody": false,
        "options": {"timeout": 120000}
      },
      "id": "HTTP_1",
      "name": "Run MOORE Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {"value1": "={{ $json[\"qualified_opportunities\"] }}", "operation": "larger", "value2": 0}
          ]
        }
      },
      "id": "IF_1",
      "name": "Has Qualified Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "MOORE MONEY cycle complete. Qualified: {{$json.qualified_opportunities}} | Replies: {{$json.replies_sent}} | Routed: {{$json.routed_deals}}"
      },
      "id": "TG_1",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [970, 240]
    }
  ],
  "connections": {
    "Every 15 Minutes": {"main": [[{"node": "Run MOORE Cycle", "type": "main", "index": 0}]]},
    "Run MOORE Cycle": {"main": [[{"node": "Has Qualified Leads?", "type": "main", "index": 0}]]},
    "Has Qualified Leads?": {"main": [[{"node": "Notify Telegram", "type": "main", "index": 0}], []]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
